[program:horizon]
process_name=%(program_name)s_%(process_num)02d
command=php __INSTALL_DIR__/artisan horizon
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user=www-data
numprocs=1
redirect_stderr=true
stdout_logfile=__INSTALL_DIR__/storage/logs/horizon.log
stopwaitsecs=3600
